.faq{
    padding:90px 8%;
    background:#fffdf8;
}

.faq-container{
    max-width:900px;
    margin:50px auto 0;
}

.faq-item{
    background:white;
    border-radius:12px;
    margin-bottom:18px;
    box-shadow:0 6px 15px rgba(0,0,0,.08);
    overflow:hidden;
}

.faq-question{
    width:100%;
    background:none;
    border:none;
    padding:22px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
    font-size:18px;
    font-weight:600;
    color:#333;
}

.faq-question svg{
    color:#d89b00;
}

.faq-answer{
    padding:0 22px 22px;
}

.faq-answer p{
    color:#666;
    line-height:1.8;
}