.whatsapp-btn{
    position:fixed;
    right:25px;
    bottom:25px;
    width:65px;
    height:65px;
    background:#25D366;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:34px;
    text-decoration:none;
    box-shadow:0 10px 30px rgba(0,0,0,.25);
    transition:.3s;
    z-index:1000;
}

.whatsapp-btn:hover{
    transform:scale(1.1);
    background:#20ba5a;
}